.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(0deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-image: url('/images/Screenshot_2.jpg'); /* Замените на полный путь к вашей картинке */
    background-size: cover; /* Регулируйте размер изображения */
    border-radius: 5px;
}


.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
.laptop-container {
    position: relative;
    max-width: 600px; /* Максимальная ширина блока */
    margin: 50px auto; /* Центрирование блока */
    padding: 20px;
    background-color: #f8f9fa; /* Цвет фона блока */
    border: 1px solid #dee2e6; /* Цвет границы блока */
    border-radius: 10px; /* Закругление углов блока */
}

.laptop {
    position: relative;
    border: 1px solid #ddd; /* Цвет границы ноутбука */
    border-radius: 10px; /* Закругление углов ноутбука */
    overflow: hidden;
}

.laptop-screen {
    position: relative;
    background-color: #fff; /* Цвет фона экрана */
    padding-top: 60%; /* Высота экрана как 60% от ширины блока ноутбука */
}

.laptop-img {
    width: 100%; /* 100% ширины изображения на экране */
    height: auto; /* Автоматическая высота изображения */
}

.laptop-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Цвет фона нижней части ноутбука */
    height: 40px; /* Высота нижней части ноутбука */
}
